*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    text-align: center;
}

.divPrincipal{
    text-align: center;
    width: 50%;
}

.dias{
    padding: 10px;
    margin: 2px;
    border-color: blue;
    border-style: solid;
    text-align: center;
    background-color: white;
}

.divHorarios{
    width: 25%;
    text-align: center;
}

.ocupado{
    background-color: red;
    border-style: solid;
    border-color: black;
    width: 50%;
}

.disponible{
    background-color: green;
    border-style: solid;
    border-color: black;
    width: 50%;
}